$fontstack1: "Sora", serif
$fontstack2: "Anek Latin", serif
$fontstack3: "Big Shoulders Text", serif
$fontstack4: "Big Shoulders Display", serif

$basecolor: #0080ff
$basecolor2: #d0ff00
$basecolor3: #2d2d2d

$text: #333333

$black: #000
$white: #fff
